[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none
