<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- folders MUST end with \ -->
    <add key="rootDrive" value="J:\" />
    <add key="xmlSaveAsPdfFolder" value=".SaveAsPDF\" />
    <add key="xmlProjectFile" value=".SaveAsPDF_Project.xml" />
    <add key="xmlEmploeeysFile" value=".SaveAsPDF_Emploeeys.xml" />
    <add key="New" value="New" />
  </appSettings>
</configuration>