<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SaveAsPDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- folders MUST end with back slash "\" 
    <add key="rootDrive" value="J:\" />
    <add key="xmlSaveAsPdfFolder" value=".SaveAsPDF\" />
    <add key="xmlProjectFile" value=".SaveAsPDF_Project.xml" />
    <add key="xmlEmploeeysFile" value=".SaveAsPDF_Emploeeys.xml" />
	<add key="defaultTreeFile" value="DefaultTree.fld"/>
    <add key="New" value="New" />
    <add key="ClientSettingsProvider.ServiceUri" value="" /> -->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SaveAsPDF.Properties.Settings>
      <setting name="rootDrive" serializeAs="String">
        <value>J:\</value>
      </setting>
      <setting name="xmlSaveAsPdfFolder" serializeAs="String">
        <value>.SaveAsPDF\</value>
      </setting>
      <setting name="xmlProjectFile" serializeAs="String">
        <value>.SaveAsPDF_Project.xml</value>
      </setting>
      <setting name="xmlEmploeeysFile" serializeAs="String">
        <value>.SaveAsPDF_Emploeeys.xml</value>
      </setting>
      <setting name="defaultTreeFile" serializeAs="String">
        <value>DefaultTree.fld</value>
      </setting>
      <setting name="defaultFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="minAttachmentSize" serializeAs="String">
        <value>8192</value>
      </setting>
    </SaveAsPDF.Properties.Settings>
  </userSettings>
</configuration>