<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SaveAsPDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- folders MUST end with back slash "\" 
    <add key="rootDrive" value="J:\" />
    <add key="xmlSaveAsPdfFolder" value=".SaveAsPDF\" />
    <add key="xmlProjectFile" value=".SaveAsPDF_Project.xml" />
    <add key="xmlEmploeeysFile" value=".SaveAsPDF_Emploeeys.xml" />
	<add key="defaultTreeFile" value="DefaultTree.fld"/>
    <add key="New" value="New" />
    <add key="ClientSettingsProvider.ServiceUri" value="" /> -->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <SaveAsPDF.Properties.Settings>
      <setting name="RootDrive" serializeAs="String">
        <value>J:\</value>
      </setting>
      <setting name="xmlSaveAsPDFFolder" serializeAs="String">
        <value>.SaveAsPDF\</value>
      </setting>
      <setting name="xmlProjectFile" serializeAs="String">
        <value>.SaveAsPDF_Project.xml</value>
      </setting>
      <setting name="xmlEmployeesFile" serializeAs="String">
        <value>.SaveAsPDF_Emploeeys.xml</value>
      </setting>
      <setting name="DefaultTreeFile" serializeAs="String">
        <value>DefaultTree.fld</value>
      </setting>
      <setting name="MinAttachmentSize" serializeAs="String">
        <value>8192</value>
      </setting>
      <setting name="DateTag" serializeAs="String">
        <value>_תאריך_</value>
      </setting>
      <setting name="ProjectRootTag" serializeAs="String">
        <value>_מספר_פרויקט_</value>
      </setting>
      <setting name="DefaultFolderID" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OpenPDF" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastProjects" serializeAs="String">
        <value>1234</value>
      </setting>
      <setting name="LastProjectsCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sProjectRootFolders" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultSavePath" serializeAs="String">
        <value>מכתבים\</value>
      </setting>
    </SaveAsPDF.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>